.nav-menu{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  background-color: #000000;
  box-shadow: 0 4px 10px #000000;
  position: fixed;
  width: 100%;
  height: 67px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-links{
  position: fixed;
  top: 0;
  right: -100%;
  width: 55%;
  height: 100dvh;
  background-color: #000000;
  transition: right 0.3s ease;
  box-shadow: 0 4px 10px #353535;
}

.nav-links.open {
  right: 0;
}

.nav-links ul {
  list-style: none;
  padding: 1rem;
}

.nav-links ul li {
  margin: 3rem 0;
  padding: 0.5rem;
}

.nav-links a{
  text-decoration: none;
  color: #ffffff;
}

.nav-links a.active{
  text-decoration: none;
}

.menu-icon a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap:0.25rem ;
}

.menu-icon{
  position: relative;
}

.menu-icon span{
  background-color: #ffffff;
  display: block;
  width: 26px;
  height: 3px;
  transform-origin: center;
  transition: all 0.3s ease;
}

.menu-icon.open span{
  background-color: #ffffff;
}

.menu-icon.open span:first-child{
  transform: rotate(45deg) translateY(10px);
}

.menu-icon.open span:nth-child(2){
  opacity: 0;
}

.menu-icon.open span:nth-child(3){
  transform: rotate(-45deg) translateY(-10px);
}

/* Mobile de 425px */
@media (min-width: 425px) and (max-width:767px){
  *{
    font-size: 105%;
  }
  .logo h2{
    font-size: 150%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width:991px) { 

  *{
    font-size: 110%;
  }

  .nav-menu{
    padding: 0.5rem;
  }

  .nav-menu .logo{
    margin-left: 1.5rem;
  }

  .menu-icon{
    margin-right: 1.5rem;
  }

  .nav-links{
    width: 35%;
  }

  .nav-links ul {
    margin-top: 2rem;
  }
  
  .nav-links ul li{
    margin: 3rem 0;
    padding: 0.5rem;
  }

  .menu-icon span{
    width: 35px;
    height: 5px;
    transform-origin: center;
    transition: all 0.3s ease;
  }

  .menu-icon.open span:first-child{
    transform: rotate(45deg) translateY(13px);
  }

  .menu-icon.open span:nth-child(3){
    transform: rotate(-45deg) translateY(-13px);
  }

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px){ 
  
  *{
    font-size: 105%;
  }

  .nav-menu{
    width: 100%;
    height: 10%;
    padding: 0 2rem;
  }

  .menu-icon{
    display: none;
  }

  .nav-links{
    display:flex;
    right: 0;
    background-color: transparent;
    position: static;
    width: auto;
    box-shadow: none;
  }

  .nav-links a{
    text-decoration: none;
    color: #ffffff;
  }

  .nav-links a::after{
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
  }

  .nav-links a:hover::after{
    width: 100%;
  }

  .nav-links ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 0;
    align-items: center;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}