.nav-menu{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #000000;
  box-shadow: 0 4px 10px #000000;
  position: fixed;
  width: 100%;
  height: 4.2rem;
}
.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-links{
  position: fixed;
  top: 0;
  right: -100%;
  width: 55%;
  height: 100dvh;
  background-color: #000000;
  transition: right 0.3s ease;
  box-shadow: 0 4px 10px #353535;
}

.nav-links.open {
  right: 0;
}

.nav-links ul {
  list-style: none;
  padding: 1rem;
}

.nav-links ul li {
  margin: 3rem 0;
  padding: 0.5rem;
}

.nav-links a{
  text-decoration: none;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
}

.nav-links a.active{
  text-decoration: none;
}

.menu-icon a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap:0.25rem ;
}

.menu-icon{
  position: relative;
}

.menu-icon span{
  background-color: #ffffff;
  display: block;
  width: 26px;
  height: 3px;
  transform-origin: center;
  transition: all 0.3s ease;
}

.menu-icon.open span{
  background-color: #ffffff;
}

.menu-icon.open span:first-child{
  transform: rotate(45deg) translateY(10px);
}

.menu-icon.open span:nth-child(2){
  opacity: 0;
}

.menu-icon.open span:nth-child(3){
  transform: rotate(-45deg) translateY(-10px);
}

@media (min-width: 425px){
  .nav-links{
    width: 40%;
  }
}

@media (min-width: 640px){
  .nav-links{
    width: 30%;
  }
}

@media (min-width: 860px){
  .menu-icon{
    display: none;
  }

  .nav-menu{
    width: 100%;
    height: 10%;
    padding: 0 2rem;
  }

  .nav-links{
    display:flex;
    right: 0;
    background-color: transparent;
    position: static;
    width: auto;
    box-shadow: none;
  }

  .nav-links ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 0;
    align-items: center;
  }

  

  .nav-links a::after{
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
  }

  .nav-links a:hover::after{
    width: 100%;
  }

}
