*{
    background-color: rgb(0, 0, 0);
    font-size: 100%;
}

.services{
    height: 100vh;
}

img{
    width: 20px;
    height: 20px;
}

h1, h4, p {
    color: rgb(255, 255, 255);
}

.services-title {
    padding: 2rem;
}

.services-title h1, .services-title p{
    text-align: center;
    padding: 0.5rem;
}

.services-cards{
    display:grid;
    gap:1.5rem;
    padding: 1rem;
}

.card{
    border-radius: 10px;
    border: 2px solid rgb(55, 55, 55);
    padding: 1rem;
}

.card:hover{
    border-color: rgb(255, 255, 255);
}

.card p{
    color: rgb(97, 96, 96);
}

.ng-icon{
    color: rgb(255, 255, 255);
    width: 30%;
    height: 30%;
}
