.main-section{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom right, #581c87, #3b0764);
    gap: 30px;
    
}

h1, p, a{
    color: #ffffff;
    padding: 10px;
}

a{
    border: none;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    background-color: #2f2f2f;
}

/*
button:hover{
    background-color: #7722b9;
}

cursor: pointer;
    transition-duration: 0.4s;

    */