.main-section{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom right, #581c87, #3b0764);
    gap: 2rem;
    
}

h1, p, a{
    color: #ffffff;
    padding: 0.5rem;
}

a{
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #2f2f2f;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

a:hover{
    background-color: #3b0764;
}

.icon{
    padding: 0.2rem;
}


