@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/Montserrat-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}